<%- include('includes/head.ejs') %>
    </head>

    <body>
      <%- include('includes/header.ejs') %>
      <main>
          <% if (products.length > 0) { %>
          <ul>
              <% products.forEach(p => { %>
                  <li>
                      <p><%= p.title %> (<%= p.qty %>)</p>
                      <img class="product__image" src="<%= p.image %>" alt="<%= p.description %>">
                      <form action="/cart-delete-item" method="POST">
                          <input type="hidden" value="<%= p.id %>" name="productId">
                          <button class="btn" type="submit">Delete</button>
                      </form>
                  </li>
              <% }) %>
          </ul>
          <h3>total: $<%= value %></h3>
          <% } else { %>
              <h1>No Products in Cart!</h1>
          <% } %>
      </main>
      <%- include('includes/end.ejs') %>
