<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/header.ejs') %>
    <main>
      <h1><%= pageTitle%></h1>
      <p><%= pageSubTitle%></p>

      <% if (products.length > 0) { %>
      <div class="grid">

        <% for (let item of products) { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= item.title %></h1>
                </header>
                <div class="card__image">
                    <img src="<%= item.image %>" alt="<%= item.title %>">
                </div>
                <div class="card__content">
                    <h2 class="product__price"><%= item.price %></h2>
                    <p class="product__description"><%= item.description %></p>
                </div>
                <div class="card__actions">
                    <button class="btn">Add to Cart</button>
                </div>
            </article>
            <% } %>

        </div>
        <% } else { %>
        <div class="">Products not found!</div>
        <% } %>
    </main>
  </body>
</html>
